{% set current=hostvars[inventory_hostname] %}

[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStart=/usr/bin/kube-controller-manager \
  --master=http://127.0.0.1:8080 \
  --leader-elect=true \
  --allocate-node-cidrs=true \
  --cluster-cidr={{ kube_pods_subnet }} \
  --cluster-name=kubernetes \
  --root-ca-file={{ certs_folder }}/ca.pem \
  --service-account-private-key-file={{ certs_keyfile }} \
  --service-cluster-ip-range={{ kube_service_ip_range }} \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
