{% set current=hostvars[inventory_hostname] %}

[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStart=/usr/bin/kube-controller-manager \
  --allocate-node-cidrs=true \
  --cluster-cidr={{kubernetes_cluster_cidr}} \
  --cluster-name=kubernetes \
  --leader-elect=true \
  --master=http://{{current['ipv4_address_private']}}:8080 \
  --root-ca-file=/etc/kubernetes/certs/ca.pem \
  --service-account-private-key-file=/etc/kubernetes/certs/kubernetes.key \
  --service-cluster-ip-range={{service_cluster_ip_range}} \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
