[Unit]
Description=etcd
After=network.target

[Service]
Type=notify
EnvironmentFile={{ env_folder }}/etcd.env
ExecStart=/usr/bin/etcd
Restart=always
RestartSec=10s
LimitNOFILE=40000
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
