{% set current=hostvars[inventory_hostname] %}

[Unit]
Description=Flannel
Documentation=https://github.com/coreos/flannel

[Service]
ExecStart=/usr/bin/flanneld \
  --etcd-endpoints={{ etcd_peers }} \
  --etcd-keyfile={{ certs_keyfile }} \
  --etcd-certfile={{ certs_certfile }} \
  --etcd-cafile={{ certs_folder }}/ca.pem \
  --iface={{ current['ipv4_address'] }} \
  --public-ip={{ current['ipv4_address'] }} \
  --ip-masq=true
TimeoutSec=infinity
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
