{% set ips=[] %}
{% for host in groups['kube-controller'] %}
  {% set to_concat = ['https://', hostvars[host]['ipv4_address_private'], ':6443'] %}
  {% set str = to_concat|join('') %}
  {% if ips.insert(loop.index, str) %}
  {% endif %}
{% endfor %}

apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority: /etc/kubernetes/certs/ca.pem
    server: {{ips|join(',')}}
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: kubelet
  name: kubelet
current-context: kubelet
users:
- name: kubelet
  user:
    token: chAng3m3
