{% set ips=[] %}
{% for host in groups['etcd'] %}
  {% set to_concat = ['https://', hostvars[host]['ipv4_address_private'], ':2379'] %}
  {% set str = to_concat|join('') %}
  {% if ips.insert(loop.index, str) %}
  {% endif %}
{% endfor %}

{% set current=hostvars[inventory_hostname] %}

[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStart=/usr/bin/kube-apiserver \
  --admission-control=NamespaceLifecycle,LimitRanger,SecurityContextDeny,ServiceAccount,ResourceQuota \
  --advertise-address={{current['ipv4_address_private']}} \
  --allow-privileged=true \
  --apiserver-count={{groups['kube-controller']|length}} \
  --authorization-mode=ABAC \
  --authorization-policy-file=/etc/kubernetes/certs/authorization-policy.jsonl \
  --bind-address=0.0.0.0 \
  --enable-swagger-ui=true \
  --insecure-bind-address=0.0.0.0 \
  --kubelet-certificate-authority=/etc/kubernetes/certs/ca.pem \
  --etcd-servers={{ips|join(',')}} \
  --etcd-cafile=/etc/kubernetes/certs/ca.pem \
  --service-account-key-file=/etc/kubernetes/certs/kubernetes.key \
  --service-cluster-ip-range=10.32.0.0/24 \
  --service-node-port-range=30000-32767 \
  --tls-cert-file=/etc/kubernetes/certs/kubernetes.crt \
  --tls-private-key-file=/etc/kubernetes/certs/kubernetes.key \
  --token-auth-file=/etc/kubernetes/certs/token.csv \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
