[Unit]
Description=confd

[Service]
ExecStart=/usr/bin/confd \
  -backend etcd \
  -node http://127.0.0.1:2379 \
  -client-cert {{ certs_certfile }} \
  -client-key {{ certs_keyfile }} \
  -interval 10 \
  -config-file /etc/confd/conf.d/nginx.toml
Restart=always
RestartSec=10s
LimitNOFILE=40000
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
