upstream kontinuum {
  least_conn;
  server 104.236.153.35;
}

server {
  listen 80;
  server_name kontinuum.{{domain_name}}

  location / {
    proxy_pass http://kontinuum;
    proxy_redirect off;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded_For $proxy_add_x_forwarded_for;
  }
}

{{ '{{' }} range $dir := ls "/registry/services/endpoints/default" {{ '}}' }}

{{ '{{' }}$servicename := base $dir {{ '}}' }}
{{ '{{' }}$custdir := printf "/registry/services/specs/default/%s" $servicename{{ '}}' }}
{{ '{{' }}$data := getv $custdir {{ '}}' }}
{{ '{{' }}$json := json $data {{ '}}' }}

{{ '{{' }}if $json.metadata.labels.subdomain  {{ '}}' }}
{{ '{{' }}$subdomain := $json.metadata.labels.subdomain {{ '}}' }}

  {{ '{{' }}if (index $json.spec.ports 0).nodePort {{ '}}' }}
  {{ '{{' }}$nodePort := (index $json.spec.ports 0).nodePort  {{ '}}' }}

  upstream {{ '{{' }}$servicename{{ '}}' }}
    least_conn;
    {{ '{{' }}range $minionip := ls "/registry/minions" {{ '}}' }}
    server {{ '{{' }}base $minionip{{ '}}' }}:{{ '{{' }}$nodePort{{ '}}' }};
    {{ '{{' }}end {{ '}}' }}
  }

  server {
    listen 80;

    {{ '{{' }}if eq $subdomain "index" {{ '}}' }}
    server_name www.{{domain_name}} {{domain_name}};
    {{ '{{' }}else {{ '}}' }}
    server_name {{ '{{' }}$subdomain{{ '}}' }}.{{domain_name}}
    {{ '{{' }}end {{ '}}' }}

    location / {
      proxy_pass http://{{ '{{' }}$servicename{{ '}}' }};
      proxy_redirect off;
      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded_For $proxy_add_x_forwarded_for;
    }
  }
  {{ '{{' }}end {{ '}}' }}

{{ '{{' }}end {{ '}}' }}

{{ '{{' }}end {{ '}}' }}
