{% set ips=[] %}
{% for host in groups['etcd'] %}
  {% set to_concat = ['https://', hostvars[host]['ipv4_address_private'], ':2379'] %}
  {% set str = to_concat|join('') %}
  {% if ips.insert(loop.index, str) %}
  {% endif %}
{% endfor %}

echo 'PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games"
ETCDCTL_API=2
ETCDCTL_CA_FILE={{ optdest }}/certs/ca.pem
ETCDCTL_CERT_FILE={{ optdest }}/certs/{{ certfilename }}
ETCDCTL_KEY_FILE={{ optdest }}/certs/{{ keyfilename }}
ETCDCTL_ENDPOINTS={{ips|join(",")}}' > /etc/environment

ETCD_CTL_API=2 \
ETCDCTL_CA_FILE={{ optdest }}/certs/ca.pem \
ETCDCTL_CERT_FILE={{ optdest }}/certs/{{ certfilename }} \
ETCDCTL_KEY_FILE={{ optdest }}/certs/{{ keyfilename }} \
ETCDCTL_ENDPOINTS={{ips|join(",")}} \
/usr/bin/etcdctl \
set /coreos.com/network/config '{"Network": "{{ kubernetes_cluster_cidr }}"}'
