{% set ips=[] %}
{% for host in groups['etcd'] %}
  {% set to_concat = [hostvars[host]['name'], '=https://', hostvars[host]['ipv4_address_private'], ':2380'] %}
  {% set str = to_concat|join('') %}
  {% if ips.insert(loop.index, str) %}
  {% endif %}
{% endfor %}

{% set current=hostvars[inventory_hostname] %}

{% set cafile='/etc/etcd/certs/ca.pem' %}
{% set certfile='/etc/etcd/certs/crt' %}
{% set keyfile='/etc/etcd/certs/private.key' %}

[Unit]
Description=etcd
After=network.target

[Service]
ExecStart=/usr/bin/etcd \
  --name={{current['name']}} \
  --client-cert-auth \
  --trusted-ca-file={{cafile}} \
  --cert-file={{certfile}} \
  --key-file={{keyfile}} \
  --peer-trusted-ca-file={{cafile}} \
  --peer-cert-file={{certfile}} \
  --peer-key-file={{keyfile}} \
  --advertise-client-urls=https://{{current['ipv4_address_private']}}:2379 \
  --listen-client-urls=https://{{current['ipv4_address_private']}}:2379,http://127.0.0.1:2379 \
  --initial-advertise-peer-urls=https://{{current['ipv4_address_private']}}:2380 \
  --listen-peer-urls=https://{{current['ipv4_address_private']}}:2380 \
  --initial-cluster-token=etcd-cluster-0 \
  --initial-cluster={{ips|join(',')}} \
  --initial-cluster-state=new \
  --data-dir=/var/lib/etcd
Restart=on-failure
RestartSec=5
LimitNOFILE=40000
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
