{% set current=hostvars[inventory_hostname] %}

[Unit]
Description=Kubelet
After=docker.service
Requires=docker.service

[Service]
ExecStart=/usr/bin/kubelet \
  --logtostderr=true \
  --v=2 \
  --api-servers={{ kube_controller_ip }} \
  --address="0.0.0.0" \
  --port=10250 \
  --hostname-override={{ inventory_hostname }} \
  --cluster-dns={{ kube_cluster_dns }} \
  --cluster-domain=cluster.local \
  --kubeconfig={{ certs_folder }}/kubeconfig \
  --allow-privileged=true \
  --cloud-provider=

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
