{% set current=hostvars[inventory_hostname] %}

[Unit]
Description=Kubelet
After=docker.service
Requires=docker.service

[Service]
ExecStart=/usr/bin/kubelet \
  --api-servers={{ kube_controller_ip }} \
  --allow-privileged=true \
  --cloud-provider= \
  --cluster-dns={{ kube_cluster_dns }} \
  --cluster-domain=cluster.local \
  --register-node=true \
  --hostname-override={{ current['ipv4_address'] }} \
  --configure-cbr0=true \
  --container-runtime=docker \
  --docker=unix:///var/run/docker.sock \
  --network-plugin-dir=/opt/cni/bin \
  --network-plugin=kubenet \
  --kubeconfig={{ certs_folder }}/kubeconfig \
  --reconcile-cidr=true \
  --serialize-image-pulls=false \
  --tls-cert-file={{ certs_certfile }} \
  --tls-private-key-file={{ certs_keyfile }} \
  --v=2

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
