{% set current=hostvars[inventory_hostname] %}

[Unit]
Description=Kubernetes proxy
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStart=/usr/bin/kube-proxy \
  --master={{ kube_controller_ip }} \
  --kubeconfig={{ certs_folder }}/kubeconfig \
  --bind-address={{ current['ipv4_address'] }} \
  --cluster-cidr={{ kube_pods_subnet }} \
  --proxy-mode=iptables \
  --v=2

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
